/*responsive*/
@media(min-width: 320px) and (max-width:1200px) {

    html {
        overflow-x: hidden;
    }

    header {
        display: flex;
        justify-content: center;
        object-fit: contain;
        background-position: center;
        align-content: center ;


    }

    nav {
        display: none;
    }


    .contenedor-titulos {
        margin: 2rem;
    }

    .titulo-principal {
        font-weight: lighter;
        font-size: 2.5rem;

    }

    .titulo-secundario {

        font-size: 1.3rem;
        margin: 2rem;
        font-weight: 300;

    }

    .descargar-cv {
        width: auto;
        font-size: 1rem;
        padding: 1.2rem 2.3rem;
        margin-top: 1rem;

    }

    .sobremi {
        display: flex;
        flex-direction: column;
    }

    .encabezado-secundario {
        font-size: 1.5rem;
    }

    .texto-sobre-mi {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    .lista-habilidades {
        width: auto;
    }

    .lista-habilidades li {

        width: auto;
        height: auto;
        font-size: 6px;
        margin-top: 0;
        padding: 8px;
    }

    .lista-habilidades ul {
        margin-right: 0;
        padding-right: 0;
    }

    .section-certificado img {
        padding: 4rem;
        width: auto;
        height: auto;
    }

    .d-block {
        height: 225px;
        padding: 15px;
    }

    .contenedor-habilidades {
       
        .card{
           
            height:auto;
            padding: 10px;
            margin: 10px;

             h1{
                margin-top: 0.8rem;
            }
        }   
        
    }
 

    .card-proyecto {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;

        .img-proyecto {
           
            height: auto;
        }
    
        p{
            margin: 1.5rem;            
            font-size: 1rem;
        }
        a{
            width: auto;
            font-size: 1.3rem;
            padding: 1rem 2rem;
        }
    }

    footer {
        width: auto;
        height: auto;
    }


    .contenedor-navbar ul {
        display: none;
    }

    .contenedor-iconos {
        flex-direction: column;
        width: 150px;
        height: 140px;
        margin: 0;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .contenedor-iconos img {
        width: 20px;
        height: 20px;
    }

}